<% book.book_comments.each do |book_comment| %>
  <div class="d-flex align-items-center">
    <div class="align-items-end">
      <%= link_to(book_comment.user) do %>
        <%= image_tag book_comment.user.get_profile_image, size:"100x100" %><br>
        <%= book_comment.user.name %>
      <% end %>
    </div>
    <div class="align-items-end px-2"><%= book_comment.comment %></div>
    <div class="align-items-end">
      <% if book_comment.user == current_user %>
        <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
      <% end %>
    </div>
  </div>
<% end %>