<table class='table table-bordered'>
  Date(インスタント変数)-7: <%= @today-7 %><br>
  Date.today-1: <%= Date.today-1 %><br>
  Date.current: <%= Date.current %><br>
  Time.now: <%= Time.now %><br>
  Time.now-1.day: <%= Time.now-1.day %><br>
  Time.current-1.day: <%= Time.current-1.day %><br>
  Time.current.strftime('%Y,%m,%d'): <%= Time.current.strftime('%Y,%m,%d') %><br>
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
    <tr>
      <td><%= @today_book %></td>
      <td><%= @yesterday_book %></td>
      <td><%= number_to_percentage(@book_deff *100, precision:0) %></td>
    </tr>
  </thead>
</table>

<%= number_to_percentage(100, precision:0) %>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>先週の投稿数</th>
      <th>前週比</th>
    </tr>
    <tr>
      <td><%= @this_week_book %></td>
      <td><%= @last_week_book %></td>
      <td><%= number_to_percentage(@week_book_deff *100, precision:0) %></td>
    </tr>
  </thead>
</table>
