<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'books/form', book: @book %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <%= render 'books/index',books: @books %>

      <h4>投稿数の前日比・前週比</h4>
      <%= render 'count', books: @books %>

      <h4>7日間分の投稿数</h4>
      <%= render 'chart', books: @books %>

      <%= form_with url: user_search_path(@user), class: 'my-2', local: false, method: :get do |f| %>
        <%= f.date_field :created_at %>
        <%= f.submit "検索", class: 'btn btn-primary' %>
      <% end %>
      <%= render 'search', books: @books %>
    </div>
  </div>
</div>
